@import '../../variables.scss';

.beerCard {
  *{
    color: black;
  }

  font-family: $font-utility;
  height: auto;
  width: 150px;
  padding: $base-spacing;
  text-align: center;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: whitesmoke;

  .beerName {
    font-size: 1.2em;
    letter-spacing: 0.03em;
    font-family: $font-display;
    padding: $base-spacing 0;
  }

  .beerTagline {
    padding-bottom: $base-spacing * 1.5;
    font-size: 0.8em;
    font-style: italic;
    color: #066e72;
  }

  .beerImg {
    max-height: 120px;
    padding-bottom: $base-spacing * 2;
  }

  .beerInfo {
    padding: $base-spacing;
    box-shadow: 0 3px 10px rgb(0,0,0,0.2);
  }

  .beerDescripption {
    padding-bottom: $base-spacing;
    font-size: 0.7em;
  }

  .beerABV {
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: $base-spacing;
    color: #066e72;
  }

  .goesWith {
    font-family: $font-display;
    padding-bottom: $base-spacing * 0.5;
    font-size: 1em;
  }

  .beerFoodParing {
    width: 100%;
    list-style: none;
    padding-bottom: $base-spacing;
    font-size: 0.6em;
    line-height: 1.5em;
  }
}

@media screen and (max-width: 767px) {

}

@media screen and (min-width: 768px) {
  .beerCard {
    width: 200px;

    .beerName {
      font-size: 1.5em;
    }
    .beerImg {
      max-height: 150px;
    }

    .beerFoodParing {
      font-size: 0.7em;
    }
    
  }

}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1366px) {

}

@media screen and (min-width: 1920px) {
  .beerCard {   
    width: 350px;
    padding: $base-spacing * 2;
    text-align: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
    .beerName {
      font-size: 2.2em;
      letter-spacing: 0.03em;
      font-family: $font-display;
      padding: 10px 20px;    
    }
  
    .beerImg {
      max-height: 200px;
      padding-bottom: $base-spacing * 3;
    }
  
    .beerInfo {
      padding: $base-spacing * 2;
      box-shadow: 0 3px 10px rgb(0,0,0,0.2);     
    }
  
    .beerTagline {
      padding-bottom: $base-spacing * 1.5;
      font-size: 1.2em;
      font-style: italic;      
    }
  
    .beerDescripption {
      padding-bottom: $base-spacing;
      font-size: 0.8em;
    }
  
    .beerABV {
      font-size: 1.2em;
      padding-bottom: $base-spacing;      
    }
  
    .goesWith {
      font-family: $font-display;
      padding-bottom: $base-spacing * 0.5;
      font-size: 1.2em;      
    }
  
    .beerFoodParing {
      width: 100%;      
      list-style: none;
      padding-bottom: $base-spacing;
      font-size: 0.8em;
      line-height: 1.5em;
    }
  }
}