@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&display=swap');

$font-display: 'Bebas Neue', cursive;
$font-utility: 'Inter', sans-serif;

$color-white: #F5F3F4;

$base-spacing: 10px;

$text-shadow: 5px 3px 5px rgb(38, 57, 77, 0.5);